@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

@layer base {
  @font-face {
    font-family: bold;
    src: url("./Fonts/PostmanFont.woff2");
  }
  @font-face {
    font-family: text;
    src: url("./Fonts/googleFont.woff2");
  }
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bolder;
}
h1 {
  @apply text-7xl;
}
p,
span {
  @apply text-lg font-text;
}
